body{
    margin:0;
}

.header{
    font-size: 24px;
    padding: 30px;
}

.header, .footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer{
    font-size: 18px;
    padding: 30px;
}


ul{
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    margin-left: 370px;
}

a{
    text-decoration: none;
}

a, .second_text{
    color: #E5E7E8;
    font-size: 18px;
}

.right, .left{
    display:flex;
    align-items: center;
    gap:20px;
}

.presentation{
    background-color:#1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:100px;
    gap:30px;
}

.main_text{
    font-size:48px;
    color:#F9FAF8;
    margin-bottom: 10px;
    font-weight:bold;
}

.button{
    background-color:#3882F6;
    border-radius: 8px;
    padding:10px;
    color:#F9FAF8;
    cursor:pointer;
    border: 1px solid #3882F6;
    font-weight: bold;
    margin-top: 10px;
}

.button2{
    border: 2px solid #E5E7E8;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto; 
}

.image{
    height:auto;
    max-width: 100%;
}

.header_info{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    font-size: 36px;
    color:#1F2937;
    font-weight:bold;
}

.image2{
    height:200px;
    width:200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.information{
    display:flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
}

.text{
    display:flex;
    justify-content: center;
    align-items: center;
}

.review{
    background-color:#E5E7E8;
    padding:150px;
    margin-top:100px;
}

.review_customer{
    font-size:36px;
    color:#1F2937;
    font-style:italic;
    display:flex;
    justify-content: center;
    align-items:center;
}

.customer{
    font-size:26px;
    font-weight:bold;
    text-align: right;
}

.sign_up{
    padding:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sign_up_box{
    background-color:#3882F6;
    padding:40px;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
}

.title_sign_up{
    font-size: 25px;
    color:#E5E7E8;
    font-weight: bold;
}

.text_content{
    margin-right: 40px;
}

