body{
    margin:0;
}

.header, .footer{
    display:flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.header{
    font-size: 24px;
    padding: 30px;
    justify-content: space-around;
    gap:400px;
}

.footer{
    font-size: 18px;
    padding: 30px;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
}

li {
    margin-right: 20px;
}

a{
    text-decoration: none;
}

a, .second_text{
    color: #E5E7E8;
    font-size: 18px;
}

.right, .left{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.presentation{
    background-color:#1F2937;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:100px;
    margin-bottom: 25px;
}

.main_text{
    font-size:48px;
    color:#F9FAF8;
    margin-bottom: 10px;
    font-weight:bold;
}

.button{
    background-color:#3882F6;
    border-radius: 8px;
    padding:10px;
    color:#F9FAF8;
    cursor:pointer;
    border: 1px solid #3882F6;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

.button2{
    border: 2px solid #E5E7E8;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.image{
    height:auto;
    max-width: 100%;
}

.header_info{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    font-size: 36px;
    color:#1F2937;
    font-weight:bold;
    margin-bottom: 30px;
}

.image2{
    height:200px;
    width:200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.information{
    display:flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
}

.text{
    display:flex;
    justify-content: center;
    align-items: center;
}

.review{
    background-color:#E5E7E8;
    padding:200px;
    margin-top:150px;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.review_customer{
    font-size:36px;
    color:#1F2937;
    font-style:italic;
    max-width: 1000px;
    max-height: 500px;
}

.customer{
    font-size:26px;
    font-weight:bold;
    text-align: right;
}

.sign_up{
    padding:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sign_up_box{
    width: 1200px;
    height: 70px;
    background-color:#3882F6;
    padding:40px;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
}

.title_sign_up{
    font-size: 25px;
    color:#E5E7E8;
    font-weight: bold;
}

.text_content{
    margin-right: 40px;
}

